<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>116429864847-dgclchvd58mrrp4kcjdtioihc393pu43.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116429864847-dgclchvd58mrrp4kcjdtioihc393pu43</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>116429864847-5l28642vh2lbvvu1i77eeua9ifensmg8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD6THrtkJLJQ1ZLoDja_tRHriOQswPXgMc</string>
	<key>GCM_SENDER_ID</key>
	<string>116429864847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.playmakeradmin</string>
	<key>PROJECT_ID</key>
	<string>playmaker-4af3d</string>
	<key>STORAGE_BUCKET</key>
	<string>playmaker-4af3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116429864847:ios:3b9981054b0f714907d5fa</string>
</dict>
</plist>